[2018-12-27 08:53] mstahv opened #1 "Add an API to limit maximum number of selections"

[2018-12-27 08:53] mstahv opened #2 "Feature: Ordering of selected items"

[2019-02-15 13:58] syampillai opened #3 "Items are not shown as selected if set programmatically"
If I set selected items (selectedItems) programmatically, it will be correctly displayed in the text-field area but in the pull-down selection list area, those selected items are not shown as selected. Because of this, I am able to select the items that are already selected!

[2019-02-17 08:33] #3 closed

[2019-02-22 16:33] cinquin opened #5 "Feature: allow custom values"
Great component.
It would be very useful to allow users to input custom values, as made possible by vaadin-combo-box.

[2019-02-26 09:42] Juchar opened #6 "Match Lumo Styling"
The current implementation does not match the styling of the rest of the lumo components.
If using it in a form this is clearly a visual break.

It would be nice to have a theme that matches lumo (at least it should have the same style as the default combo box).

One example can be found here:
https://github.com/vaadin/vaadin-combo-box/issues/88#issuecomment-384958301

[2019-02-26 21:15] gatanaso commented on #6
Hi @Juchar,

Thank you for the feedback and the suggestion. This is something that I have been considering and others have mentioned to me as well :)
I have already started to work on the theming support for this component and will be updating the styles to match the `lumo` theme as closely as possible.

BR,
Goran

[2019-02-28 08:55] #6 closed

[2019-03-01 06:30] Juchar commented on #6
Thank you already, great work!

I have seen that you use the following code to generate a border:
[code]
Which produces the following result:
![image](https://user-images.githubusercontent.com/14292982/53620220-74d8cb00-3bf2-11e9-85f4-ec2c72af428d.png)

May I ask why not just using:
[code]

which produces the following output:
![image](https://user-images.githubusercontent.com/14292982/53620209-69

[2019-03-02 07:06] gatanaso commented on #6
Hi @Juchar ,

Thank you for the feedback and for the improvement ideas!

Yes, those would be much better defaults and they align nicely with the existing components 👍

I think that this is also a great improvement suggestion and it makes the tokens look much better 👍

However I would continue to use a `background-color` value of `--lumo-contrast-20pct` as it's a very small difference, but it makes

[2019-03-02 07:11] gatanaso opened #8 "Improve default lumo styling"
Improve the styling based on the provided feedback: https://github.com/gatanaso/multiselect-combo-box/issues/6#issuecomment-468559158

[2019-03-02 08:46] #8 closed

[2019-03-07 08:24] Juchar opened #10 "Production Mode Compilation overrides ComboBox Styles"
I made the following observation:

If you compile your application in production mode, then the styles provided in [multiselect-combo-box-styles.html](https://github.com/gatanaso/multiselect-combo-box/blob/master/theme/lumo/multiselect-combo-box-styles.html), `<dom-module id="lumo-combo-box-item-theme" theme-for="vaadin-combo-box-item">` get applied for all comboboxes (also the default vaadin boxe

[2019-03-13 15:09] gatanaso commented on #10
Thank you @Juchar for reporting this issue. I have identified and fixed the cause of the problem and will be releasing new versions soon.

BR,
Goran

[2019-03-13 15:09] #10 closed

[2019-03-14 07:23] JoergOstertag opened #12 "preselection of Values by Typing shows wrong values"
If you start typing in an item the selection will be reduced. This is good. But the selected values do not match the typed in letters.

[2019-03-14 07:29] JoergOstertag commented on #12
![2019-03-14 08_25_16-multiselect-combo-box demo](https://user-images.githubusercontent.com/17024921/54338801-34863d80-4633-11e9-9c7c-1f1e24eb40aa.png)

[2019-03-14 07:29] JoergOstertag commented on #12
Tested on https://multiselect-combo-box.firebaseapp.com/demo/

[2019-03-14 07:42] gatanaso commented on #12
Hi @JoergOstertag,

Thanks for reporting this issue. I believe it might have been introduced with the latest updates I introduced for this component, as the preselection worked in earlier versions quite well.

BR,
Goran

[2019-03-14 09:49] #12 closed

[2019-03-22 10:36] kedigby opened #14 "vaadin-combo-box-light on-change not fired"
Hi Goran

I've struggled to get the multiselect-combo-box to work. I've attempted to debug and have noticed that the _comboBoxValueChanged never gets fired so wondered if there was a dependency / version issue with vaadin-combo-box-light?

I have created and empty project and added the multiselect-combo-box, which demonstrates the issue:  [https://github.com/kedigby/multiselect-combo-box-demo](mul

[2019-03-22 17:47] gatanaso commented on #14
Hi @kedigby

Thank you for reporting this issue. It was caused by an issue in the `vaadin-combo-box`: https://github.com/vaadin/vaadin-combo-box/issues/792, which was fixed today and a new version was released (https://github.com/vaadin/vaadin-combo-box/releases/tag/v4.2.7).

I will be updating the dependent version and releasing a new version of `multiselect-combo-box` over the weekend.

Kind reg

[2019-03-24 15:01] #14 closed

[2019-04-01 20:14] gigiobix opened #17 "validation problem"
Attaching a validator to the binder associated to the multiselect, when validation fail, the input element doesn't become coloured of red:

![bug](https://user-images.githubusercontent.com/15094658/55429287-ced30480-5593-11e9-95a9-fa7417046886.png)

[2019-04-02 19:12] #17 closed

[2019-05-02 15:34] gatanaso opened #20 "Feature: disabled state"
Implement `disabled` state for the multiselect-combo-box.

[2019-05-04 07:32] #20 closed

[2019-05-15 08:13] Juchar opened #24 "Allow setting of custom ItemFilter<T>"
Using the vaadin standard combobox it is possible to pass in an `ItemFilter<T>` if setting the `DataProvider` by using
[code]
(see [API Documentation](https://vaadin.com/api/platform/13.0.7/com/vaadin/flow/component/combobox/ComboBox.html#setDataProvider-com.vaadin.flow.component.combobox.ComboBox.ItemFilter-com.vaadin.flow.data.provider.ListDataProvider-)).

It would be very useful to have this m

[2019-05-19 16:49] gatanaso commented on #2
fixed with #26

[2019-05-19 16:49] #2 closed

[2019-05-23 06:20] domiq44 opened #27 "Multiselect-Combobox do not work on IE 11"
Hello,

Great work !
I have to use such a component both with Chrome and IE.
When I play with [demo](https://multiselect-combo-box.firebaseapp.com/demo/), I See that it does'nt work on it !
Is there any turn arround ?

Thanks.

Dominique

[2019-05-23 07:02] gatanaso commented on #27
Hello Dominique,

Thank you for the feedback 🙏

I suspect that the reason why the demo is not working in IE11 is that the online demo is not compiled to ES5, which is needed for IE11: https://polymer-library.polymer-project.org/2.0/docs/browsers

You could checkout the project and test it locally by running `polymer serve` (assuming you have the polymer cli installed) which should transpile it for

[2019-05-29 15:49] KasparScherrer opened #28 "Feature: add setRenderer functionality like ComboBox and Select"
I would love to be able to define a ComponentRenderer (or any other Renderer) so I can show more than just a String as item label.
This will make the usage of MultiselectComboBox more similar to the actual ComboBox, as I always use a Renderer for those.

[2019-06-13 20:06] gatanaso commented on #27
Reopening issue as the component demos and styling was broken in IE 11.

[2019-06-13 20:10] #27 closed

[2019-07-30 14:12] TGit911iger opened #33 "Problem with wrapping of long text inside multiselect-combo-box"
I have got a multiselect with fixed width.

<img width="437" alt="Multi" src="https://user-images.githubusercontent.com/9194576/62136547-a01c2f00-b2e4-11e9-8ae7-91377d992e1f.png">

The item text is very long, bigger than the multi (please look at the attachment).

Long text should wrap inside multiselect too.

[2019-07-31 11:21] ayya-vimala opened #34 "Problem running multiple vaading elements with this"
Apart from that the demos don't work because somehow they violate the EU regulations and therefore I get sent to a stop-page from the EU ... :-(

I have a little problem running this element with other vaadin elements on the same page:
[code]
This might be something really simple so can you direct me to what I can do about it?

[2019-07-31 12:25] gatanaso commented on #34
Hi @ayya-vimala and thank you for raising these issues.

This is interesting as I have not encountered any issue regarding EU regulations before. Could you please maybe share more details about how you are trying to access the demos?

This sounds strange, but I cannot say from the top of my head what could be the cause. Could you please share some source code or a small reproducible example, as it

[2019-07-31 12:39] ayya-vimala commented on #34
I followed your link on webcomponents.org but also here in your readme file:
https://multiselect-combo-box.firebaseapp.com/demo/

That takes me to a page that looks pretty clumpsy:

![Screenshot from 2019-07-31 14-32-47](https://user-images.githubusercontent.com/49606945/62211953-1c277d00-b3a0-11e9-9911-ed8db7b7e312.png)

But the 'here' directs to the official police website and a form to fill in

[2019-07-31 12:54] gatanaso commented on #34
That looks quite interesting, not sure why the demos would be blocked in Belgium 😕 This is how the page looks and it only displays the demos that are also present in the sources:

<img width="1242" alt="Screenshot 2019-07-31 at 15 49 32" src="https://user-images.githubusercontent.com/15094658/62213083-cefcd880-b3aa-11e9-9a22-d6dce4023ec9.png">

Thank you for reporting this, I will try to look into

[2019-07-31 13:00] ayya-vimala commented on #34
That's exactly what I did and never had a problem like this before.

If you want me to contact the people behind that stop-site to ask what is going on, let me know.

[2019-07-31 13:26] ayya-vimala commented on #34
I asked a friend on Linux Mint and they get the same government site. I did get a browser safety warning and had to add an exception. Maybe something to do with SSL config?

[2019-07-31 14:47] ayya-vimala commented on #34
Some more info ... took some time to get this out. Hope it helps.

[2019-08-01 06:12] gatanaso commented on #34
Hi @ayya-vimala,

Glad to hear that you are happy with the `multiselect-combo-box` 👍 Also, a huge thank you for taking the time to look deeper into the demos issue, it is very interesting. I will close this ticket and investigate the demos availability separately.

BR,
Goran

[2019-08-01 06:12] #34 closed

[2019-08-01 08:36] mvysny commented on #34
Sounds like the Belgian authorities blocked *.firebaseapp.com for no apparent reason. @ayya-vimala could you please click on that "here" link in the "STOP" page and drop the authorities a mail as to why that page is blocked?

[2019-08-01 08:45] ayya-vimala commented on #34
Terve!
I have emailed them. It is the official site of ecops.be
Will let you know when I get a reply.

[2019-08-01 08:46] gatanaso commented on #34
@mvysny @ayya-vimala thank you both 🙇 I am looking forward to find what they have to say :)

[2019-08-01 11:01] gatanaso commented on #34
@ayya-vimala Could you please try to access: https://multiselect-combo-box.web.app/demo/ and let me know if it's still being blocked?

Thank you,
Goran

[2019-08-01 11:40] ayya-vimala commented on #34
Hey ... nice work! No, it's working fine. Noticed you took the firebaseapp out.

[2019-08-01 12:06] gatanaso commented on #34
Awesome, thanks for taking the time to check the new link 🙇 . I will be updating those accordingly.

BR,
Goran

[2019-08-12 11:01] #33 closed

[2019-08-20 00:20] robertspizzarottisoft commented on #5
This would be useful, but it's also sometimes useful to restrict selection to items in the list so I'd ask that if this is implemented, there's an option to allow/dis-allow it.

[2019-08-20 00:20] brendan-jefferis commented on #5
This would be useful, but it's also sometimes useful to restrict selection to items in the list so I'd ask that if this is implemented, there's an option to allow/dis-allow it.

[2019-10-25 15:43] moderndeveloperllc opened #43 "Enhancement: Allow combo-box renderer"
First off, I love the component. It fills a real need in my app. The only additional thing I wish it did was to easily allow me to set the `renderer` on the `vaadin-combo-box-light element. My dropdown items have a couple of object properties concatenated.

[2019-10-30 10:30] rolfsmeds opened #45 "Remove width:100% from component stylesheet"
The component should probably not set itself to be 100% by default.

[2019-10-30 19:02] gatanaso commented on #45
Thanks for the suggestion @rolfsmeds. I did a quick local test for this suggestion by removing the 100% width and the component behaves as follows (notice the variable width):
![mscb-01](https://user-images.githubusercontent.com/15094658/67889835-df5e5400-fb4f-11e9-8145-6c7df98ad121.gif)

What do you think about this? :)

[2019-10-31 08:45] rolfsmeds commented on #45
Looks good to me. I think it's fine that it varies in width if you haven't defined a width for it. The benefit is that it doesn't take more space than it actually needs. And if you want the width to stay fixed, you set a width on it.

[2019-10-31 08:46] rolfsmeds commented on #45
I guess it wouldn't hurt to expose a variable for the width of the input area. That way, if I know the placeholder text will be as short as "Add", I could easily set the input area to be e.g. 4em or so, so that it only takes as much space as it needs.

[2019-10-31 23:21] gatanaso commented on #45
Thanks for taking the time to answer. Yes, I think introducing this change would be good and I can also look into exposing the variable for the input field as well.

[2019-11-01 08:58] gatanaso commented on #45
Hi @rolfsmeds

If left unspecified, the width of the input field container will default to what is specified by the `vaadin-text-field` which is:
[code]
therefore to specify the text field container width, one can later define it as:
[code]
I believe this should be flexible enough for most use cases.

[2019-11-01 09:21] rolfsmeds commented on #45
Ah, of course, yes, that should do the trick!

[2019-11-04 23:03] gatanaso commented on #45
fixed with #46

[2019-11-04 23:03] #45 closed

[2019-11-21 19:51] gatanaso commented on #43
Hi @moderndeveloperllc, thanks for the feedback and apologies for a bit late reply. One hacky way to override the current renderer would be:
[code]
Though in this case one would also have to make sure to take care of the styling and the selected state for each item in the list.

[2019-11-21 21:06] moderndeveloperllc commented on #43
@gatanaso Thanks. We still have a ways to go on our app, so I'll hold off on the implementation. I look forward to seeing what you can come up with.

[2019-11-26 12:20] DuffMck opened #53 "Problem with compatibility mode on"
Hi,

I'm working with Vaadin 14 with compatibility mode on, and I've the problem that without errors in console, the component doesn't appear in the UI.

Can you suggest me any workaround?

Thanks

[2019-11-26 13:08] gatanaso commented on #53
Hi @DuffMck ,

This issue is for the Java wrapper of this component: https://github.com/gatanaso/multiselect-combo-box-flow :)

Which version of the component are you using? For Vaadin 14 compatibility / bower mode you should use versions `1.x.x` of which the latest is `1.0.1`.

Please note that the compatibility/bower versions are not kept up to date with their npm mode counterparts, so I suggest

[2019-11-26 14:03] DuffMck commented on #53
Thanks, I hope to be able to migrate as soon as possible

[2019-11-26 14:03] #53 closed

[2019-12-03 06:50] fauzieuy opened #54 "Is this component support with webpack?"
Hi, I'm working with rails and webpack 3.12.0 and have a problem with the following error

[code]

install via yarn (1.19.1)

--

I've try with webcompents latest (which is 2.4.0) and it's work well (pure html).

I have no idea why it's broken with rails & webpack.

[2019-12-03 16:23] gatanaso commented on #54
Hi @fauzieuy

Thank you for reporting this issue. I am not familiar with rails so I cannot say for sure what could be the issue. Regarding webpack, well the Vaadin platform uses it for the front-end stuff and in that context there haven't been any issues. Could you possibly share your config, it might help in resolving the issue?

[2019-12-03 16:30] gatanaso commented on #54
For example, one thing regarding the `webcomponentsjs` is that you probably need to copy them as it's done in a typical Vaadin project (here is a snipped from the webpack config):
[code]

Hope this helps,
Goran

[2019-12-03 18:08] fauzieuy commented on #54
Hi @gatanaso , thank you for the response.

I've push the sample app to this repo https://github.com/fauzieuy/sample_app.
Of course I've copy the `webcomponentsjs` from `node_modules` to the `javascripts/packs` as a typical Rails project using webpack (I'm using postinstall scripts on package to copy them).

note : also I'm using `vaadin-combo-box` to see the config is working well
https://github.

[2019-12-03 18:19] gatanaso commented on #54
Thanks for sharing an example project. As I am not familiar with Rails myself, I did not run the project. But I wanted to know where are the sources for the `multiselect-combo-box`?
I was able to quickly find the `@polymer` and `@vaadin` namespaces here: https://github.com/fauzieuy/sample_app/tree/master/app/javascript but not the ones for the `multiselect-combo-box`?

[2019-12-03 18:30] fauzieuy commented on #54
@gatanaso sorry my mistake, I wasn't copied the `multiselect-combo-box` from `node_modules` to `packs`.
https://github.com/fauzieuy/sample_app/blob/9ccac64425547f8fc6db1a031cf3c4ad39e6beb3/post_install.sh#L23
And `multiselect-combox-box` is working well

Thank you for your time.

[2019-12-03 18:30] #54 closed

[2019-12-03 18:31] gatanaso commented on #54
@fauzieuy np, was happy to help 👍

[2020-02-06 21:12] tpluscode opened #55 "Cannot order non-string items"
## Current

Adding `[ordered]` to an element with objects for items throws on `localeCompare` being not a function.

## Expected

If the items are objects, the `item-label-path` should be used to sort them.

[2020-02-07 17:00] gatanaso commented on #55
Hi, thank you for reporting this issue. I believe #44 should fix that but have not tried it yet.

[2020-02-07 17:52] #55 closed

[2020-02-09 19:10] #43 closed

[2020-02-27 23:39] bpetridean opened #57 "Auto-transpile to legacy element syntax"
With respect to:
https://github.com/gatanaso/multiselect-combo-box/blob/2afa8d93b89d289b3045c5b7f99a257aa844068e/src/multiselect-combo-box.html

Hi,
Is there a quick/automated way that I could use to transpile `multiselect-combo-box.html` to legacy syntax? e.g. https://polymer-library.polymer-project.org/3.0/docs/devguide/legacy-elements

**Extended context:**
I am planning to use polymer2 version

[2020-02-28 08:28] gatanaso commented on #57
Hi @bpetridean,

Would the `polymer-2` version of the component work for your use case: https://github.com/gatanaso/multiselect-combo-box/tree/polymer-2 ?

Another option is to try an use `magi-cli` https://github.com/vaadin/magi-cli to do the conversion, but I have not used it myself so cannot say for sure if it would work.

Hope this helps,
Goran

[2020-02-28 09:36] bpetridean commented on #57
@gatanaso

Thanks for the quick reply.
Yes, polymer-2x branch, e.g. https://github.com/gatanaso/multiselect-combo-box/blob/polymer-2/src/multiselect-combo-box-input.html, is the one I will be using.
My issue is that the component above is defined with ES6 syntax...in my case I need the legacy element syntax:
`MultiselectComboBox = Polymer({
      is: multiselect-combo-box,
....
})`

Thanks for the

[2020-02-28 20:50] #57 closed

[2020-03-02 11:17] jensgoe opened #58 "getValue() returns list with null value after filtering"
**Steps to reproduce:**
- create MultiSelectComboBox and a Button to invoke getValue()
- add more items than pageSize (server-side filtering is used)
- select an item ("item 0")
- type some text (e.g. "155), so that items got filtered until one item is shown ("item 155")
- select that item
- now two items are selected in MultiSelectComboBox ("item 0" and "item 155")
- push the button

getValue() n

[2020-03-12 11:16] Me1kaa opened #59 "Add possibility to change default text in compact mode."
Now in the compact mode only possible to display 0-n values(that's plugged into the library). It would be nice to add the function of type Integer -> String, which will render this text.

[2020-03-23 08:52] jstueckrath opened #62 "CSS Improvement Suggestion for Compact Mode"
I noticed that the compact mode layout is not consistent with the standard layout and would therefore suggest the following CSS changes (which I also used in my project):

[code]

The color and font-weight above are the same as the ones used in non-compact mode. The margin will prevent the combo box from being larger in compact mode compared to non-compact mode (as it currently is, see below). The

[2020-03-23 09:05] jstueckrath opened #63 "Feature: Button for Selecting All ComboBox Entries"
In my project I needed the possibility to select all entries of the combo box and wrote a wrapper for it. However, I think this would be a good improvement for the box itself. In my case the last entry in the combo box had the label "select all" and did the following:
- if not all items are selected, pressing it selects all items
- if all items are selected, pressing it deselects all items
- if an

[2020-03-23 18:33] gatanaso commented on #5
implemented with #61

[2020-03-23 18:33] #5 closed

[2020-03-24 06:21] gatanaso commented on #62
Hi @jstueckrath

Thanks for the great suggestion, especially for the before/after which really nicely shows the improvement in the component. This is a great idea and definitely something that could be introduced. One thing to consider would be the material theme, though I assume the same approach could be applied there.

[2020-03-24 06:36] gatanaso commented on #63
Hi @jstueckrath,

Thanks for the proposal and for the detailed description.
Yes I do see that having a "select all" item could be a nice way to achieve this (same as you have already done). Though it might require some consideration in regards to how it affects the UX overall and especially in cases where there are large number of items.

Regarding the special button inside the component, it's an

[2020-03-24 12:51] jstueckrath commented on #62
You're welcome, I am only using Lumo and did not test it with Material, but you are probably right that it can be improved similarly.

[2020-03-24 13:02] jstueckrath commented on #63
@gatanaso, I am also not sure what the best design would be and if there even is a best design. The behaviour I described above worked well in my case, but need is far from perfect. The logic is done on server-side limiting offline capability and the "select all" entry is layouted the same as all other entries, although it behaves differently.

I have very little experience in UX design, so I am n

[2020-03-31 08:49] naoak opened #64 "Enhancement: Close combobox by clicking toggle button"
Thanks for great library!
We can close the combobox by clicking the outside of the combbox. In addition to this, I'd like to close it by clicking the toggle button when the combobox is opened.

[2020-04-16 15:31] moderndeveloperllc opened #66 "Outdated Dependencies (alpha)"
@gatanaso Just a heads up, Vaadin is in the process of updating lots of their components to the next point-release (mainly RTL styles I think). This includes `vaadin-combo-box` to 5.1.0 (alpha for  a few weeks), which conflicts with your `^5.0.9` in package.json. You may want to see if `^5.0` is sufficient as that will allow anything below a hypothetical version 6. This is an issue with web compon

[2020-04-18 08:25] gatanaso commented on #66
@moderndeveloperllc Thanks for the heads up. Great idea to try and use `^5.0` as it might be just what's needed. I'll try to look into this and come back with some suggestions.

[2020-04-29 13:36] stefanuebe opened #69 "Readme invalid: bower command for Polymer 2 version installs Polymer 3"
When running `bower install --save gatanaso/multiselect-combo-box`, it will install as a result the ES6/polymer 3 based scripts. They do not contain html files and therefore cannot be used as stated in the readme.

Simplest solution is to download the polymer 2 branch and use the files locally (but not sure, how far they are still maintained or uptodate regarding issues).

[2020-04-29 13:40] gatanaso commented on #69
Hi Stefan, thanks for opening this issue.

What happens if you run `bower install --save gatanaso/multiselect-combo-box"#1.0.1"` ?

[2020-04-29 14:40] stefanuebe commented on #69
Brings up the following dialog:

[code]

[2020-04-29 14:41] stefanuebe commented on #69
Choosing one of them downloads the polymer 2 variant (html).

[2020-04-29 16:15] gatanaso commented on #69
Thanks for verifying, that works as intended. I have added the version as part of the bower installation instructions now.

[2020-04-29 16:15] #69 closed

[2020-04-29 19:31] stefanuebe commented on #69
Just as a side note, is 1.0.1 a typo? I used 1.1.0 :)

[2020-05-04 12:48] stefanuebe opened #70 "Change event is not fired when combo box is invalid."
Currently there is a check inside `_handleItemRemoved` if the component is valid or not. If it is case 1, then a change event is fired; if case 2, then not - in both cases the `selectedItems` property is changed on client side. This leads to the problem, that server and client side state are not synchrone anymore, when my server side relies on the `change` event.

I would expect the component to s

[2020-05-04 13:56] stefanuebe commented on #70
Same for the `_handleRemoveAllItems` method. Should be done parallel, not sequential.

Also the method `_comboBoxValueChanged` also has the same constellation, but here it might make sense to validate first before changing the `selectedItems` and prevent the change, if it is not valid (for instance to not have invalid items set into the client side state) - therefore to move the if(valid) up befor

[2020-05-05 13:25] #66 closed

[2020-05-05 13:30] moderndeveloperllc commented on #66
My bad. This wasn't a version issue in the traditional sense. A couple of the dependencies were in alpha, which weren't "stable" enough for your yarn to accept as valid per the package.json. So it pulled the last stable version which caused the conflict. Now that 5.1.0 is stable, there is no issue.

[2020-05-05 14:09] gatanaso commented on #66
Ah yeah, you are right, I had totally forgotten about that "tiny" detail 😄 Glad the issue is resolved itself and things are working as you expected.

[2020-05-06 07:19] aley2003 opened #71 "Height changes should dispatch "icon-resize" event"
If MultiSelectComboBox is used in the header row of an Grid there are refresh problems, if there is an resize of the MultiselectComboBox.
Solution: As far as I understand, MultiselectComboBox should dispatch an "icon-resize" event whenever its height changes.
See https://vaadin.com/forum/thread/18251264/grid-header-row-overlaps-first-data-row

![image](https://user-images.githubusercontent.com/634

[2020-05-06 07:19] aley2003 opened #85 "Height changes should dispatch "iron-resize" event"
If MultiSelectComboBox is used in the header row of an Grid there are refresh problems, if there is an resize of the MultiselectComboBox.
Solution: As far as I understand, MultiselectComboBox should dispatch an "icon-resize" event whenever its height changes.
See https://vaadin.com/forum/thread/18251264/grid-header-row-overlaps-first-data-row

![image](https://user-images.githubusercontent.com/634

[2020-05-06 07:29] gatanaso commented on #70
Thanks @stefanuebe for raising this issue and for the provided details.

[2020-05-06 18:46] gatanaso commented on #70
@stefanuebe I tried what you described here using V14 in npm mode (Polymer 3) and the value change event is always fired. Could you please provide a reproducible project I can have a look at, as well as the exact steps that lead to the described situation?

[2020-05-07 05:00] stefanuebe commented on #70
Yes, I use the custom event `change`; not in CRUD but in an own server side implementation for V8 (using the V8 elements addon).

Which client side event would you instead propose to use in the P2 variant? `value-change` or `value-changed`.

[2020-05-07 05:06] stefanuebe commented on #70
Tested it, both are not fired by the P2 variant, so I have to stick to the `change` event variant. 😬

[2020-05-07 05:11] stefanuebe commented on #70
Side note: if it works for the P3 / latest version as intended, then please see this one as very low priority. As said, the 'change' event constellation is the same, so I simply thought, that others using the same approach will run into the same error. I for myself can simply fix it in the local files, since the elements addon doesn't use a dynamic bower update or similar but simple local availabl

[2020-05-07 08:50] gatanaso commented on #70
Sounds interesting, is it something you plan to share?

Thanks for the info. The Polymer 2 variant is lower priority for now as even Vaadin is moving away from Polymer 2 and it has been deprecated in favour of LitElement.

Great, thanks for letting me know. In that case I will close this issue and in case there are other issues later on we can revisit this.

BR,
Goran

[2020-05-07 08:50] #70 closed

[2020-05-24 16:53] moderndeveloperllc opened #73 "Enhancement: Bubble filter attribute so _filterChanged runs"
This should allow for custom filters as described here: https://cdn.vaadin.com/vaadin-combo-box/5.1.0/demo/#combo-box-filtering-demos. Currently that listener doesn't fire if placed on the main element.

Currently, I'm having to do something along the lines of:
[code]
It works, but relies on going deep into the element, like it used to be with the renderer until you added that (works great BTW). W

[2020-05-24 19:15] gatanaso commented on #73
Thanks for letting me know @moderndeveloperllc. I will look into it.

[2020-06-02 11:46] simasch opened #74 "The title "remove" is hard coded in token-remove-button"
Our application must be multilingual. But we cannot translate the title of the token-remove-button.

    <div part="token-remove-button" title="remove" role="button" on-click="_removeToken"></div>

Either remove the hard coded title or make it configurable.

[2020-06-02 18:23] gatanaso commented on #74
Hi Simon and thank you for the feedback, indeed this is a valid request to make the title configurable. During the time I developed this component this was part of the requirements. I intend to work on this when I have time but in the meantime PRs are welcome!

[2020-06-02 19:54] #59 closed

[2020-06-03 13:31] simasch commented on #74
To make it configurable would mean also to add this to the Vaadin Flow Component.
Wouldn't it be easier to remove the title as it adds not much value? X is pretty clear what it does.

[2020-06-03 18:10] gatanaso commented on #64
Hey @naoak, just wanted to let you that this seems to be an issue with the underlying `vaadin-combo-box-light` element. I have investigated it, and opened an issue about it: https://github.com/vaadin/vaadin-combo-box/issues/869. Ideally it's best if it gets resolved as part of the `vaadin-combo-box`.

[2020-06-03 18:49] gatanaso commented on #62
Hi @jstueckrath,

I am working on improving the CSS based on your suggestions here, but I cannot reproduce your Before example. Would it be possible that you share a small reproducible project where I can see the odd height in action?

Thanks,
Goran

[2020-06-04 17:55] jstueckrath commented on #62
Sorry, but I did not have time to produce a small running example. Somehow Vaadin did not load all necessary libraries properly. I will have to take a look at that next week.

P.S.: I confirmed that the project I am working on still has the problem. It uses Vaadin 14.1.17 and MultiselectComboBox 2.3.1. Maybe the layout changed in newer versions.

[2020-06-16 16:04] jstueckrath commented on #62
Hello @gatanaso
Sorry, but I did not manage to create a minimal project for this issue. Vaadin starts, but displays the following Javascript problems:
[code]
I tried version 2.3.1 and 2.5.0 of MultiselectComboBox, both with the same result. I do not understand where the problem is. The package-lock.json in the project root and the package.json in the target folder both show "multiselect-combo-box"

[2020-06-17 08:23] gatanaso commented on #62
Hi @jstueckrath. No I have not encountered this problem before. Which version of Vaadin are you using?

[2020-06-18 15:54] jstueckrath commented on #62
Hi @gatanaso, for that attempt I used Vaadin 14.1.17, but I will also try it with a newer version. Strangely I have a project with exactly that combination of versions which runs just fine... It must be some kind of Problem with the project setup. I will notify you once I fixed the issue.

[2020-07-06 18:49] naoak commented on #64
@gatanaso Sorry for the late response. Taking a look at the source codes around ComboBoxMixin, it certainly looks like that. Thank you for the clarification and letting me know!

[2020-08-05 14:08] jstueckrath commented on #62
Hi @gatanaso, I finally found time and worked around the type errors I encountered earlier. Here is an example project for the before/after examples I sent in the beginning:

[multiselect-combo-box-issue62.zip](https://github.com/gatanaso/multiselect-combo-box/files/5028884/multiselect-combo-box-issue62.zip)

If you reactivate the `@CssImport` in the `MainView` class, you will see the "after" effe

[2020-08-18 19:36] aletorrado opened #78 "Enhancement: manually reorder items"
Hi, I don't know if it's possible right now to allow the user to reorder items manually using some hook. If this is possible, it would be nice to have it documented (btw, I'm pretty interested to know). Otherwise, it would be nice to have a flag to enable reordering using drag-and-drop between the items.

Thank you!

[2020-09-04 08:14] olaf-2 opened #79 "DOMException with Vaadin 17.0.0"
The multiselect-combo-box works great with Typescript client view in Vaadin 16.0.3. After updating to Vaadin 17.0.0 the following exception is thrown:

vaadin-item.js?0d7d:89 Uncaught DOMException: Failed to execute 'define' on 'CustomElementRegistry': the name "vaadin-item" has already been used with this registry at eval (webpack-internal:///../node_modules/.pnpm/registry.npmjs.org/@vaadin/vaadi

[2020-09-05 08:15] #62 closed

[2020-09-20 09:37] #73 closed

[2020-09-20 09:41] gatanaso commented on #73
Hi @moderndeveloperllc,

I finally found some time to work on this :) The api for adding a custom filter is now much cleaner (no need to access the underlying combo box). Your example would looks like this (note the `filter-value-changed` event):
[code]

[2020-09-20 16:25] olikam opened #82 "Read-only mode has visual problems"
In read-only mode multiselect combobox appears squeezed if it's empty. If it's not empty, it's not as same as the original combobox; there is no down-arrow, a little bit shorter and the text is a little bit lighter. You can find the screenshots in the attachment. (First component is the original combobox, the second one is multiselect...)
![image](https://user-images.githubusercontent.com/27846345

[2020-09-24 04:49] #64 closed

[2020-09-28 09:38] miloszszyrner opened #88 "Property "title" not set"
I wanted to show up tooltip on mouse hover over. To do it I have written code given below:
[code]
But as a result, I cannot see my tooltip

[2020-10-04 06:28] #85 closed

[2020-10-04 12:22] #88 closed

[2020-10-06 12:02] miloszszyrner opened #90 "Item labels not genarated"
Steps do reproduce:
1. Create component with ItemLabelGenerator
2. Set enabled to false
3. Trigger somewhere in code to make component enabled and set elements
4. Try to pick elements on the UI

Result: Elements are loaded without generated labels and cannot be selected

Expected:

[2020-10-28 10:21] jensgoe opened #91 "Filtering exact item removes it from selection after closing the combo-popup"
Steps to reproduce:
- Go to the live demo
- Click into the Combobox
- Type in "helium"
- select the "Helium" item -> it is added to the selection. the typed in filter "helium" is appended next to the selection, Thats ok
- click outside the Combobox to close the popup
- Nothing is selected --> Not ok

[2021-01-12 23:28] Canuckaholic opened #92 "Installing via NPM results in "Failed to execute 'define' on 'CustomElementRegistry'""
I have installed this via npm and notice that it adds a `node_modules` folder inside the `multiselect-combo-box` folder with both `@vaadin` and `lit-element` modules.

When I attempt to run my application now I get a couple of error similar to:

[code]

Any ideas?

[2021-01-29 11:15] gatanaso commented on #92
HI @Canuckaholic

I have been quite swamped with work and not much time lately to reply promptly here :)

Are you using the component in a Vaadin project, if so, which version of Vaadin are you using? I haven't checked the compatibility with the newer versions, so there might be some issues arising from that as well.

[2021-01-29 14:13] dj-schulze opened #93 "Feature: Possibility of using layzy loading with a dataprovider similar to the vaadin-combox"

[2021-01-29 17:23] Canuckaholic commented on #92
Hello,

I actually figured it out that I was using a version of Vaadin components that was too old. Updating them fixed the problem.

[2021-01-30 08:49] #92 closed

[2021-03-02 12:30] timmer3 commented on #63
hi @jstueckrath @gatanaso
this is a very desirable feature for my situation.   i agree that the feature should not confuse the UX/UI with unclear buttons or icons.  there is a [material icon](https://www.materialui.co/icon/done-all) for "done-all" that you could display in place of the existing X button.  the 2 buttons would never appear together because if a user is selecting items one at a time

[2021-03-03 17:20] jstueckrath commented on #63
@timmer3
I would also prefer a solution with a small button instead of a "fake" list item. The double check mark icon seems to be a good choice, since selection is already visualized with check marks anyway.

I was wondering whether it makes sense to display the new icon together with the clear icon if at least one but not all items are selected. It would be helpful since this allows to select or

[2021-03-31 07:37] jensgoe commented on #91
Do you had a chance to reproduce this issue?

[2021-04-01 13:56] berndhopp opened #95 "token-misalignment after first row"
tokens in the second, third row asf lack padding or margin to the left which the first row has

![grafik](https://user-images.githubusercontent.com/1919315/113304986-dd7b6000-9302-11eb-94d3-b1b7b02d7e77.png)

[2021-04-07 20:20] nc142j opened #96 "Conflict with vaadin-text-field"
See the following Console Error:
[code]
When importing multiselect-combo-box. v2.4.2

It was suggested from other devs to try contacting you about updating the component with the latest vaadin components in the package.json

Note: I already tried removing the @vaadin/vaadin-test-field from nodules_modules and removing the package-lock.json and reinstall using npm install.
I also tried running npm

[2021-04-08 17:09] nc142j commented on #96
Forgot to note I am using polymer 3

[2021-04-09 11:53] FlorianWoelki commented on #96
I had this issue as well on a micro frontend architecture.

Right now, I've solved this issue by redefining the `customElements` function and checking if the element is already registered.

[code]

[2021-04-11 01:27] nc142j commented on #96
Thanks @FlorianWoelki,

My custom element looks somewhat like code below. Where should that code be applied?

`import { html, css, LitElement } from "lit-element";
import { SharedStyles } from "../../shared-styles.js";
import "@polymer/paper-icon-button/paper-icon-button.js";
import "@vaadin/vaadin-form-layout/vaadin-form-layout.js";
import "@vaadin/vaadin-text-field/vaadin-text-field.js";
import

[2021-04-11 09:30] FlorianWoelki commented on #96
This will be a global definition, so you need to make sure that this script is executed before any of your components load. In my case it is simply in the `index.html` file in a script tag.

[2021-04-12 18:25] #96 closed

[2021-04-21 19:56] oskarrough opened #98 "How to use without a bundler"
Hello, what dependencies to you need exactly to get this working on an otherwise empty html page? Or maybe I messed up the imports somehow. Appreciate any pointers because this combo box is really well done.

I've attempted here https://codepen.io/0skar/pen/dyNQzKW?editors=1010.

[2021-05-18 11:40] roman-hak opened #99 "Close dropdown when toggle button clicked"
If a combo box is in an opened state (i.e. a dropdown is opened) clicking on a toggle button should turn the combo box back to a closed stated (i.e. close the dropdown).

The original Vaadin combo box behaves like that so I think the multiselect combo box should follow this behavior.

[2021-05-18 12:21] gatanaso commented on #99
Hi and thanks for reporting this issue. Unfortunately,  it looks like the underlying issue has not yet been fixed, as this has already been reported: https://github.com/gatanaso/multiselect-combo-box/issues/64.

I will close this as a duplicate.

[2021-05-18 12:21] #99 closed

[2021-05-19 12:20] roman-hak commented on #99
Thanks for information and sorry for creating a duplicity. Next time I should definitely check already closed issues...

[2021-05-19 13:04] roman-hak commented on #63
This feature would be really nice, so I tried to implement it. The result is proposed via the pull-request #100. Please, take a look and let me know you opinions. I think it looks good from the UX perspective.

[2021-06-01 17:37] jonmann20 opened #101 "CustomElementRegistry issue with latest Vaadin components"
Hello and thanks for the great component.  I'm having an issue when using this alongside the latest Vaadin components.

[code]

[2021-10-14 09:28] Lacuno opened #103 "Tabbing into the multiselect-combo-box focuses the label"
Hey guys!

I am currently using the multiselect-combo-box and when tabbing into the component the label will be selected with the first tab and another tab is needed to tab into the input field itself.
Is there a possibility to skip tabbing to the label?

Thanks!

[2021-11-17 21:07] tpluscode opened #105 "Update to latest vaadin"
Are there plans to migrate to latest versions of vaadin (and use lit)?

[2021-11-17 22:36] naoak commented on #105
I confirmed that this component was completely working with @vaadin/vaadin-*^21.0.3 two weeks ago. @gatanaso I'd be happy if you could take a look in your spare time.

[2021-12-02 13:52] mrgreywater commented on #105
As of yet it seems to be incompatible with Vaadin 22.0.0 (released on 01.01.2021)
[code]

vaadin-combo-box-placeholder.js doesn't seem to exist anymore: https://github.com/vaadin/web-components/tree/master/packages/vaadin-combo-box/src

[2022-01-04 02:18] xeals commented on #105
Aside from the recreated `@vaadin/vaadin-combo-box` package no longer having the required `-placeholder.js` file mentioned above, there's a runtime error later on:

[code]

Error comes from the internal overlay ID being renamed in https://github.com/vaadin/web-components/pull/2467.

[code]

[2022-01-26 21:09] gatanaso commented on #105
Hi, with the merge of https://github.com/gatanaso/multiselect-combo-box/pull/106 and , the web component should now be compatible with the latest version of Vaadin (pending the update of the Flow counter part).

[2022-01-26 21:09] #105 closed

[2022-01-26 21:10] gatanaso commented on #101
Hi, with the merge of https://github.com/gatanaso/multiselect-combo-box/pull/106 and , the web component should now be compatible with the latest version of Vaadin (pending the update of the Flow counter part).

[2022-01-26 21:10] #101 closed

[2022-01-26 21:11] gatanaso commented on #95
Hi, I think this should be fixed now with the latest release. You can check the demo for more details: https://multiselect-combo-box.web.app/

[2022-01-26 21:11] #95 closed

[2022-01-26 21:19] gatanaso commented on #91
Hi, sorry for the late reply. I guess this was happening in earlier versions. Based on the latest update, which is currently in a pre-release, I was not able to reproduce this issue (i.e. https://multiselect-combo-box.web.app/). Closing for now, but please let me know if it happens again.

[2022-01-26 21:19] #91 closed

[2022-01-27 20:40] gatanaso commented on #103
Hi @Lacuno, I believe this is fixed with the latest version. I will close this issue for now, but please let me know if it still happens.

[2022-01-27 20:40] #103 closed

[2022-01-27 20:53] gatanaso commented on #98
Hi, unfortunately you may need to use some sort of a bundler to produce your final output.

[2022-01-27 20:53] #98 closed

[2022-02-09 18:09] naoak opened #110 "Clear button is now bigger than it was in v2"
Hi,

I found a clear button is now bigger in the latest demo than it was in v2.4.2.
![SS_2022-02-10_1_37_53](https://user-images.githubusercontent.com/1264530/153258371-be166422-c84c-482d-9394-e1b8b60b8d58.png)

It seems that `--lumo-icons-cross` is not applied to the clear button for some reason.
<img width="326" alt="SS 2022-02-10 2 42 45" src="https://user-images.githubusercontent.com/1264530/1

[2022-02-09 21:00] gatanaso commented on #110
Thanks for the info @naoak. Perhaps would make sense to also raise this with the Vaadin team for a recommendation on how this could be properly handled in add-on components.

[2022-02-17 14:22] naoak opened #112 "Change the dependency on vaadin from v22 to v22-v23"
Hi!

v3.0.0-alpha.1 is currently dependent on vaadin@22. If we change the dependent versions to the range from 22 to 23, it would work fine with also vaadin@23beta. At least it works fine in my use case. How about considering to specify the versions in range?

Thanks.

[2022-02-17 14:30] WilliamFreau opened #113 "Vaadin 22.0.5 could not display MultiSelectComboBox"
Hi and thanks for this really usefull component.

Problem: Could not use MultiSelectComboBox in Vaadin 22.0.5 flow application.

Vaadin version: `22.0.5`
MultiSelectComboBox version: `4.0.0.rc2`

Example of usage:
[code]

Result:
MultiSelectComboBox is not display in the client browser.

Vaadin tell this while I try to navigaue to the page where the MultiSelect is present:
[code]

Further informat

[2022-02-22 15:34] WilliamFreau commented on #113
Seems to be a problem specific to my project.

`Package.json` does not contains: `"multiselect-combo-box": "3.0.0-alpha.2"`
I've to add: `@NpmPackage(value = "multiselect-combo-box", version = "3.0.0-alpha.2")`

[2022-02-22 15:34] #113 closed, assigned to nobody

[2022-02-23 15:27] WilliamFreau commented on #113
Finally found the solution:

In my `application.properties` I've:
[code]
This improve the dependency scanning in case of big project. But it also block the lookup for `package.json`

I've change the line to:
[code]
And now the component is usable.

[2022-02-23 15:28] WilliamFreau commented on #113
Finally found the solution:

In my `application.properties` I've:
[code]
This improve the dependency scanning in case of big project. But it also block the lookup for `package.json`

I've change the line to:
[code]
And now the component is usable.

Best regards and thanks for this component!

[2022-03-15 15:33] jcgueriaud1 commented on #112
The component is working with Vaadin 23, normally pnpm and npm should automatically use the version of the platform.

[2022-03-16 08:04] CrisVnait opened #115 "Smaller height in readOnly mode with empty value"
We found a little bug: in the readOnly mode with empty value, the height is smaller (see picture).
Expected is the height like in normal mode or readOnly with values.
![multiselect](https://user-images.githubusercontent.com/22811127/158544065-3d553a48-ac56-4e9a-97c8-dd457d41948c.JPG)

[2022-03-17 07:24] naoak commented on #112
@jcgueriaud1
Does that mean that the version can be resolved in the user's package.json settings, or should it be handled on the multiselect-combo-box side?

[2022-03-17 07:35] jcgueriaud1 commented on #112
In short: Normally it's handled by Vaadin, nothing to do on your side or on the component side.

With more details:
If you are using Vaadin 23.x.x the versions of the Vaadin components are overridden to 23.x.x even if the dependency requires version 22.x.x.
If the components are compatible then it will work.
Of course if there are breaking changes, the component won't work. But I think it's not th

[2022-03-17 09:24] naoak commented on #112
@jcgueriaud1
I didn't know about the overrides feature as I just recently moved to node 16 and npm 8. Thank you very much for the detailed explanation and solution. Very helpful. I will try the overrides property right away.

[2022-03-17 10:11] naoak commented on #112
I'm using only the web components. And it worked with the following package.json on npm@8.3.1.
[code]
Thanks!

[2022-03-17 10:25] #112 closed

[2022-03-18 14:55] CrisVnait commented on #115
Wrong project: move issue to https://github.com/gatanaso/multiselect-combo-box-flow/issues/102

[2022-03-18 14:55] #115 closed

[2022-07-18 12:32] danielvanmil commented on #112
Upgrading to 23.0.8 (or later) goes well. When upgrading to 23.1.X (or later?) an error occurs as a non public API is used which is not backwards compatible in the context of #3824 and #3836:

[code]
- Is there a plan to upgrade this to 23.1.X (or later?)
- What is the general plan for this component? Is it the same as in @vaadin itself and if so, when will the two be merged etc.?

[2022-07-18 15:47] jcgueriaud1 commented on #112
A new webcomponent based on this component has been done in Vaadin 23.1 and the Java API is included in 23.2: https://github.com/vaadin/platform/issues/2961
It's not exactly the same.
I don't know if this component will be updated

[2022-07-19 09:42] danielvanmil commented on #112
@jcgueriaud1: nice, thanks!

[2022-08-30 06:28] Avec112 opened #120 "Uncaught TypeError"
Running 4.0.0-rc2 and Vaadin 23.1.6 there is a JS error in browser console.
[code]

Thing the same problem occurs with Vaadin 23.1.3 and maybe more versions aswell.

[2022-09-30 07:54] hons82 commented on #120
There is a Vaadin component in 23.2.0 called [MultiselectCombobox ](https://vaadin.com/docs/latest/components/multi-select-combo-box)which will probably be the next version of this component.

[2022-10-01 11:19] Avec112 commented on #120
Thanks and yes I know. I have already started to use the new Multi-select Combo Box from Vaadin.
I will just recommend to close this bug.

[2022-10-01 11:19] #120 closed, assigned to nobody